* {
    -fx-theme-background: black;
    -fx-theme-foreground: white;
    -fx-theme-alt-background: #262626;
    -fx-theme-title: #a6a6a6;
    -fx-theme-sub-title: #8c8c8c;
    -fx-theme-grayscale-icon: #4d4d4d;
}

.hoverable:hover {
    -fx-alt-background: #404040;
}